<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> Django Chartit Demo - {{title}} </title>
        {% load static %}
        <link rel="stylesheet" type="text/css"
        href="{% get_static_prefix %}styles/nature.css">
        <link rel="stylesheet" type="text/css"
        href="{% get_static_prefix %}styles/pygments.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/highcharts/highcharts.js"
        type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/highcharts/themes/default.js"
        type="text/javascript"></script>
        {%block chart_loader_header %}{% endblock %}
        <script type="text/javascript">
            var DOCUMENTATION_OPTIONS = {
                URL_ROOT : '',
                VERSION : '0.1',
                COLLAPSE_INDEX : false,
                FILE_SUFFIX : '.html',
                HAS_SOURCE : true
            };

        </script>
        <script src="{% get_static_prefix %}js/demo/underscore.js"
        type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/demo/doctools.js"
        type="text/javascript"></script>
    </head>
    <body>
        <div class="related">
            <h3>Navigation</h3>
            <ul>
                <li class="right" style="margin-right: 10px" >
                    <a href="/#feedback" title = "Feedback">Feedback</a>
                </li>
                <li class="right" style="margin-right: 10px" >
                    <a href="http://github.com/chartit/django-chartit/" title = "Code">Code</a> |
                    </li>
                    <li class="right" style="margin-right: 10px" >
                    <a href="http://django-chartit.readthedocs.io/en/latest/" title = "Docs">Docs</a> |
                    </li>
                    <li class="right" style="margin-right: 10px" >
                    <a href="/demo" title = "Demo">Demo</a> |
                    </li>
                    <li class="right" style="margin-right: 10px" >
                    <a href="/" title = "Home"> Home</a> |
                    </li>
                    <li>
                    <a href="/demo">Django-Chartit Demo </a>
                    </li>
                    </ul>
                    </div>
                    <div class="document">
                    <div class="documentwrapper">
                    <div class="bodywrapper">
                    <div class="body">
                    {% block welcome %} {% endblock %}
                    {% block chart_code %}{% endblock %}
                    </div>
                    </div>
                    </div>
                    <div class="sphinxsidebar">
                    <div class="sphinxsidebarwrapper">

                    {% for section in sidebar_items|dictsort:'sort_order' %}
                    <h3> {{ section.section }}</h3>
                    <ul>
                    <ul>
                    {% for title, url_name in section.links %}
                    <li><a class="reference internal"
                    href="{% url url_name %}">{{ title }}</a></li>
                    {% endfor %}
                    </ul>
                    </ul>
                    {% endfor %}
                    </div>
                    </div>
                    <div class="clearer"></div>
                    </div>
                    <div class="related">
                    </div>
                    <div class="footer">
                    © Copyright 2011, Praveen Gollakota.
                    </div>
                    </body>
                    </html>
