<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Django Chartit - Welcome!</title>
        {% load static %}
        <link rel="stylesheet" href="{% get_static_prefix %}home/css/960.css" type="text/css" />
        <link rel="stylesheet" href="{% get_static_prefix %}home/css/screen.css" type="text/css" />
        <!--[if IE]>
        <link rel="stylesheet" href="{% get_static_prefix %}home/css/ie.css" type="text/css" />
        <![endif]-->
        <link rel="stylesheet" href="{% get_static_prefix %}home/css/project.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/highcharts/highcharts.js" type="text/javascript"></script>
        <script src="{% get_static_prefix %}js/highcharts/themes/gray.js" type="text/javascript"></script>
        {% load chartit %}
        {{ chart_list|load_charts:"c1" }} <!--Addthis-->
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e5690690cf94ece"></script>
        <!--Disqus-->
        <script type="text/javascript">
            var disqus_shortname = 'django-chartit'; (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

        </script>
        <noscript>
            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
    </head>
    <body>
        <!-- START TOP SECTION -->
        <div class="container_12">
            <!-- START LOGO -->
            <div class="grid_4 header" id="logo">
                <img src="{% get_static_prefix %}home/images/chartit.png" />
            </div>
            <!-- END LOGO -->
            <!-- START NAVIGATION -->
            <div class="grid_8 header">
                <div id="navigation">
                    <ul id="nav">
                        <li id="demo">
                            <a href="/demo"><b> Demo </b></a>
                        </li>
                        <li id="docs">
                            <a href="http://django-chartit.readthedocs.io/en/latest/"><b>Docs</b></a>
                        </li>
                        <li id="code">
                            <a href="http://github.com/chartit/django-chartit"><b>Code</b></a>
                        </li>
                        <li id="feedback1">
                            <a href="/#feedback"><b>Feedback</b></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END NAVIGATION -->
            <div class="clear"></div>
        </div>
        <!-- END TOP SECTION -->
        <!-- START MEDIUM SECTION -->
        <div class="container_12 medium">
            <!-- Start featured -->
            <div id="featured">
                <!-- The slider -->
                <div id="slider">
                    <div id="sliderc" class="csw">
                        <div class="panelContainer">
                            <div class="panel">
                                <div class="projectImage" id="c1" style="width:400px; height:210px"></div>
                                <div class="projectDescription">
                                    <h1>Create charts from your Django models effortlessly</h1>
                                    <p>
                                        Do you need to plot charts in your django websites? Are you
                                        using boring static chart images and do you like your charts
                                        to be more interactive and interesting? Do you have to write
                                        a lot of just to convert the data to the
                                        right format before you can plot? With Django-Chartit you can
                                        create interactive charts effortlessly. Charts are rendered using Highcharts
                                        JS library and jQuery. Get started with the <a href="/demo">demo</a>!
                                    </p>
                                </div>
                            </div>
                        </div><!-- .panelContainer -->
                    </div><!-- #slider1 -->
                </div>
                <!--end slider -->
            </div>
            <!-- End featured -->
        </div>
        <!-- END MEDIUM SECTION -->
        <!-- START BOTTOM SECTION -->
        <div class="container_12">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style">
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_google_plusone" g:plusone:size="small" g:plusone:annotation="none"></a>
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_hackernews"></a>
                <a class="addthis_button_reddit"></a>
                <a class="addthis_button_digg"></a>
                <a class="addthis_button_stumbleupon"></a>
                <a class="addthis_button_google"></a>
                <a class="addthis_button_delicious"></a>
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_preferred_2"></a>
                <a class="addthis_button_preferred_3"></a>
                <a class="addthis_button_preferred_4"></a>
                <a class="addthis_button_compact"></a>
                <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <!-- AddThis Button END -->

            <div id="feedback">
            <!-- disqus code here-->
            <div id="disqus_thread"></div>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>
        <!-- END BOTTOM SECTION -->
        <!-- START FOOTER -->
        <div class="container_12">
            <p class="footer">
                &copy; Copyright 2011, <a href="http://shutupandship.com">Praveen Gollakota</a>.
                <br>
                CSS template by <a href="http://yim.yourinspirationweb.com/index.htm">Your Inspiration Web</a> licensed under Creative Commons Attribution 3.0 license.
            </p>
        </div>
        <!-- END FOOTER -->
    </body>
</html>
