/*CSS Reset*/
body, div, dl, dt, dd, li, pre,form, fieldset, input, textarea, p, blockquote, th, td, button {
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}
address, caption, cite, code, dfn, em, strong, var {
    font-style: normal;
    font-weight: normal;
}
ol {
    list-style: decimal;
    margin: 0;
    padding: 0;
    margin-left: 60px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th {
    text-align: left;
    font-weight: normal;
    font-style: normal;
}
acronym, abbr, fieldset, img {
    border: 0;
}
:focus {
    outline: 0;
}
strong {
    font-weight: bold;
}
a {
    text-decoration:none;
    color: #3080c8;
}

a:hover {
    color: #36A0FF
}
ol li {
    position: relative;
    left: 30px;
    padding-left:34px;
    padding-right:34px;
}
ol span {
    padding-left: 40px;
    padding-bottom: 50px;
    background:url(../images/ol.png) 0px 35px no-repeat;
    font-weight: bold;
}

* {
    font: 100% "Helvetica Neue", "arial";
    outline: none;
}

.admin {
    padding: .2em .6em .2em .6em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    border: 1px solid #C8D1D9;
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    text-shadow: #fff 0 1px;
}

.admin li a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    color: #555;
}

.admin li {
    padding: .8em 0;
    border-bottom: 1px solid #C8D1D9;
    -webkit-box-shadow: 0 1px #fff;
}

.groupitems {
    border: 1px solid #C8D1D9;
    -webkit-border-radius:3px;
    -webkit-box-shadow: none;
    -webkit-box-shadow: inset 0 1px #fff;
    text-align: center;
    margin: 14px 20px;
    padding: 6px 12px;
    display:block;
}
.groupitems:hover {
}

/*for FireFox*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner {
    border : 0px;
}

/*for IE8 */
input[type="submit"]:focus, input[type="button"]:focus {
    outline : none;
}

a:hover {
    text-decoration: none;
}

body {
    background: #717883;
    color: #182234;
    font: 14px "Helvetica Neue", arial;
    font-weight: bold;
}
p {
    font-size: 13px;
    margin: 15px 0;
    line-height: 1.44em;
}
h1 {
    padding: 10px 0;
    border-bottom: 3px solid #b4b4b4;
    font-size: 18px;
    font-weight: bold;
    margin: 46px 0 26px 0;
}
h2, h3 {
    margin: 20px 0 15px;
    font-weight: bold;
}
h2 {
    border-bottom: 2px solid #E7E7E8;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
}

h2#docs {
    color: #1d3142;
    font-family: "Helvetica Neue", arial;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 0;
    border: 0;
}

h3 {
    font-size: 16px;
    font-weight: bold;
}
.clear {
    clear: both;
}
#wrapper {
    min-width: 960px;
    max-width: 1440px;
    margin: 0 auto;
}

/* ---------------------------------------- Global Layout ---------------------------------------- */

.container {
    width: 960px;
    margin: 0 auto;
}

.primary {
    float: left;
    position: relative;
}

.secondary {
    float: left;
    position: relative;
}

/* ---------------------------------------- Base Header ---------------------------------------- */

#global-nav {
    background: #234b6f;
    overflow: hidden;
    padding: 8px 0;
}

#global-nav ul {
    float: right;
}

#global-nav ul li {
    float: left;
    margin: 0 0 0 20px;
}

#global-nav ul li a {
    color: #c3ccd9;
    font-size: 11px;
}

#local-nav {
    background: #4e7ba3;
    border-top: 1px solid #6c9cc7;
    border-bottom: 1px solid #427eb4;
    height: 69px;
}

#local-nav .container {
    position: relative;
}

#local-nav #logo {
    position: absolute;
    top: 20px;
    left: 0;
    font-size: 27px;
    color: #fff;
}

#local-nav ul {
    position: absolute;
    top: 19px;
    right: 0;
}

#local-nav ul li {
    float: left;
    margin: 0 0 0 10px;
}

#local-nav ul li a {
    display: block;
    font-size: 14px;
    color: #d9e6f8;
    padding: 8px 14px;
    font-weight: 500;
    text-shadow: 0 -1px 0 #032b4d;
    line-height: 1.1;
}

#local-nav ul li a:hover {
    color: #fff;
}

#local-nav ul li.selected a {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255, 255, 255, .2);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1), 0 1px 0 rgba(255, 255, 255, .2);
    background: #1a4e82;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#254665', endColorstr='#30597e'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#254665), to(#30597e)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #254665,  #30597e); /* for firefox 3.6+ */
    text-shadow: 0 -1px 0 #032b4d;
}

#local-nav ul li:last-child a {
    padding-right: 0;
}

#local-nav ul li:last-child.selected a {
    padding-right: 14px;
}

/* ---------------------------------------- Base Content ---------------------------------------- */

#content {
    background: #e5e9ed;
    border-top: 1px solid #fff;
    overflow: hidden;
}

#content .container {
    padding: 40px 0 40px;
    position: relative;
}

/* ---------------------------------------- Base Footer ---------------------------------------- */

#footer .container {
    padding: 50px 0;
    text-shadow: 0 -1px 0 #484d55;
    overflow: hidden;
}

#footer .copyright {
    float: right;
    color: #abb6c5;
    font-size: 14px;
    margin: 0;
}

#footer .copyright a {
    color: #cbd2dc;
}

#footer li {
    float: left;
    margin: 0 22px 0 0;
    font-size: 14px;
}

#footer li a {
    color: #cbd2dc;
    font-weight: 500;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.4)), to(rgba(0,0,0,1)))
}

/* ---------------------------------------- Base Elements ---------------------------------------- */

.box {
    background: #fff url(../images/sidebar-bg.gif) repeat-y;
    padding: 20px;
    border: 1px solid #c7c7c7;
    -webkit-box-shadow: 0 1px 5px rgba(78,123, 163, .22);
    -moz-box-shadow: 0 1px 5px rgba(78,123, 163, .22);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
}

#docs-nav {
    overflow: hidden;
    float: right;
    margin-bottom: -1px;
    margin-right: 20px;
}

#docs-nav li {
    float: left;
}

#docs-nav li a {
    display: block;
    padding: 8px 16px;
    margin-top: 1px;
}

#docs-nav li a.current {
    background: #fff;
    border: 1px solid #C7C7C7;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    font-weight: bold;
    margin-top: 0;
}

#sidebar {
    width: 255px;
    float: left;
    margin: 0 0 0 3px;
}
#bottombg {
    background: -webkit-gradient(linear, left top, left bottom, from(#d8d8d8), to(#cdcdcd));
    background: -moz-linear-gradient( top , #d8d8d8, #cdcdcd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8d8d8, endColorstr=#cdcdcd);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8d8d8, endColorstr=#cdcdcd)";
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    height: 50px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}
.cats {
    font-size: 24px;
    border-bottom: 1px #000;
    padding: 10px 0 2px 0;
    display: block;
}
#avatar {
    padding: 13px 0 0 12px;
    float: left;
}
#search {
    float: left;
    padding: 10px 4px 10px 12px;
    margin: 9px 0 0 8px;
    color: #7c7c7c;
    text-shadow: #fff 0px 1px 0px;
    font-weight: bold;
    background: none;
    width: 144px;
    font-size: 13px;
}
#searchbg {

}

/* for search snippets shown on the results page */
.snippet {
  font-size: .85em;
  color: grey;
}

.btn {
    float: left;
    position: relative;
    top: 19px;
    background: none;
}


#sidenav {
    border: 1px solid #c8d1d9;
    border-top: none;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;;
    border-radius: 0 0 4px 4px;
    margin: 0 0 20px;
}

#sidenav li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #c8d1d9;
    background: #;
}

#sidenav li:last-child {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;;
    border-radius: 0 0 4px 4px;
    border-bottom: none;
}
#sidenav li a {
    color: #000;
    text-shadow: #fff 0 1px;
    padding: 13px 0px 15px 20px;
    font-size: 14px;
    line-height:14px;
    display: block;
    font-weight: bold;
}
#sidenav li a:hover {
    background: #fff;
    text-decoration: none;
}
#sidenav li a:active {
    position: relative;
    top: 1px;
    padding-top: 14px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0, .15);
    -moz-box-shadow: inset 0 0 3px rgba(0,0,0, .15);
}
#sidenav li:active {
    border-top: none;
}
#page {
    padding-left: 281px;
    margin-top:0px;
}
#article {
    background: #fff;
    padding: 24px 20px 24px 30px;
    margin-left: 4px;
    min-height: 600px;
    -moz-border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
#articlebg {
    margin-top:0px;
}
#article a {
    text-decoration: underline;
}
.title {
    display: block;
    font-size: 28px;
    margin-bottom: 22px;
    margin-top: 4px;
}

#infobar {
    height: 100px;
    padding: 0px 40px;
    color: #808080;
    -webkit-box-shadow: inset 0 1px 3px #D1D1D1;
    -moz-box-shadow: inset 0 1px 3px #D1D1D1;
    box-shadow: inset 0 1px 3px #D1D1D1;
    background: #ececec;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    margin: 0 0 0 19px;
}
#infobar a {
    color: #bf471d;
    font-weight: bold;
}
#infobar p {
    margin: 0;
    padding-top: 42px;
    color: #808080;
    text-shadow: 0 1px 0 #fff;
}



.right {
    float: right;
}

#searchview {
    display: block;
}

.results {
    border-bottom: solid 1px #b4b4b4;
    padding: 20px 20px;
}
.results p {
}
.views {
    border-right: 1px dotted #7e7e7e;
    padding-right: 10px;
    margin-right: 10px;
}
#pagination {
    color: #169aff;
    margin: 30px 0 10px 0;
    text-align: center;
}
#pagination a {
    text-decoration: none;
}
#paginationul li {
    display: inline;
    margin-left: 10px;
    padding: 2px 4px;
}
.currentpage {
    border: 1px solid #169aff;
}
#articlebg input[type="text"], #password {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin: 10px 0;
    -webkit-transition: -webkit-box-shadow .3s linear;
}
#articlebg input:focus {
    padding: 10px;
    border: 1px solid #c98e2f;
    -webkit-box-shadow: 0 0 4px #c98f2f;
    -moz-box-shadow: 0 0 4px #c98f2f;
    box-shadow: 0 0 4px #c98f2f;
}
#articlebg textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 100%;
    -webkit-transition: -webkit-box-shadow .3s linear;
}

#articlebg textarea:focus {
    padding: 10px;
    border: 1px solid #c98e2f;
    -webkit-box-shadow: 0 0 4px #c98f2f;
    -moz-box-shadow: 0 0 4px #c98f2f;
    box-shadow: 0 0 4px #c98f2f;
}

.button {
    width: 148px;
    height: 40px;
    padding: 6px 0 !important;
    font-size: 18px !important;
    margin: 30px 10px 20px 0px !important;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    background: #d7d7d7;
    background: -webkit-gradient(linear, left bottom, left top, from(#d6d6d6), to(#e9e9e9));
    background: -moz-linear-gradient( bottom , #d6d6d6, #e9e9e9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d6d6d6, endColorstr=#e9e9e9);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d6d6d6, endColorstr=#e9e9e9)";
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    text-shadow: #fff 0 1px;
   -webkit-transition: -webkit-box-shadow .3s linear;
}
.button:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#d6d6d6), to(#f1f1f1));
    background: -moz-linear-gradient( bottom , #d6d6d6, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d6d6d6, endColorstr=#f1f1f1);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d6d6d6, endColorstr=#f1f1f1)";
}
.button:active {
    background: -webkit-gradient(linear, left top, left bottom, from(#d6d6d6), to(#e9e9e9));
    background: -moz-linear-gradient( top , #d6d6d6, #e9e9e9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9, endColorstr=#d6d6d6);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9e9e9, endColorstr=#d6d6d6)";
    -webkit-box-shadow: 0 0 4px #c98f2f;
    -moz-box-shadow: 0 0 4px #c98f2f;
    box-shadow: 0 0 4px #c98f2f;
    border: 1px solid #c98e2f !important;
}
#articlebg img {
    background: #fff;
    padding: 5px;
    border: solid 1px #ccc;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0, .25);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0, .25);
    box-shadow: 0 2px 5px rgba(0,0,0, .25);
}
.image {
    margin: 20px auto;
    text-align: center;
}
#sidenav li.active a:hover {
    background: #d8d8d8;
    text-decoration: none;
}
/* Draggable list styles */

#sortable {
  list-style-type: none;
  width: 60%;
}

#sortable li {
  margin: 30px 0;
  border: 1px solid #e8e8e8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #246a9d;
  background: #ededed;
  display: block;
  padding: 8px 10px;
  font-weight: bold;
  cursor: move;
}

/* Admin sidebar styling */

.group {
  margin: 1em 0;
}

.section {
    background: url('../images/section.png') top left repeat-x;
    height: 30px;
    width: 100%;
    float: left;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.section a:hover {
    text-decoration: none;
    color: #555;
}

.section-item {
    float: left;
    height: 30px;
    line-height: 30px;
    padding-left: 6px;
    padding-right: 20px;
    font-weight: bold;
    font-size:16px;
    color: #000;
    text-shadow: 0 1px 0 #dee5ef;
    text-decoration: none;
}
